 <div>
    <h2>El inicio</h2>
    <p>Esta es la página de inicio. Este un ejercicio que busca afianzar el concepto de Router y RouterLink en Angular 19 sin entrar en mucho detalles del diseño y css.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero maxime laborum culpa eaque corrupti aliquid aut officiis corporis a dolorem eum libero aperiam, sit eius vel vitae quod ad nesciunt.</p>
    <h2>Un lorem ipsum</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, deleniti suscipit tenetur harum unde expedita ipsam voluptatum. Ipsam dicta consectetur corrupti voluptatibus accusantium vero dolore distinctio corporis, quas ipsa veniam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, atque. Optio distinctio vitae in esse quas labore facilis excepturi obcaecati, aperiam nisi delectus nam sint modi alias ex qui libero.</p>
</div>
