<h1>Mis inicios en Angular</h1>
<p>Escuche de angular hace casi dos años y medio atrás cuando estudiaba desarrollo mobile, claro no sabía que era pero siempre veía que era muy solicitado junto con Java, un lenguaje de programación que me gusta, asi que me pareció curioso e interesante esa combinación de herramientas (Angular y Java). </p>
<p>Desde entonces, he querido aprender Angular. Empecé a aprenderlo cuando angular estaba en su versión 16 pero mi estudio por el framework (ahora angular es llamado por muchos, plataforma) no duró mucho, aunque debo admitir que logré dar mis primero pasos en éste framework.</p>
<h1>El regreso...</h1>
<p>En los ultimos meses he querido retormar mi aprendizaje en angular, pero las cosas han cambiado, angular ya esta por su versión 19 y eso es, ¡gradioso!</p>
